.mat-toolbar{
  background-color: #14181C;
  font-size: xx-large;
}

.mat-sidenav-container{
  background-color: #1A2026;
}

.mat-sidenav {
  width: 250px;
  background-color: #14181C;
}

.side-nav-item:hover{
  background-color: #14181C; 
}
.side-nav-item{
  justify-content: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  text-decoration: none;
  color: white;
  vertical-align: bottom;
}
.side-nav-icon{
  padding-right: 10px;
  font-size: 24px; /* Adjust the icon size as needed */
  width: 24px; /* Adjust the width to match the icon size */
  height: 24px;
  vertical-align: middle;
}
.side-nav-link{
  font-size: large;
  vertical-align: bottom;
  text-decoration: none;
  color: white;
}

.side-nav-text{
  vertical-align: bottom;
}

.active-list-item{
  background-color: #1A2026;
}

 .active-list-item span, .active-list-item .side-nav-icon { /*the color of the selected side nav item */
  color: #00C030;
}