<div class="main-container" id="main-div">
    <h2 class="title">Ratings Data</h2>
    <div class="underline"></div>
        <div class="file-upload-container">
            <div class="file-upload ">
                <div class="description-text">Select ratings.csv from downloaded Letterboxd account export</div>
                <div class="browse-div">
                    <button mat-raised-button color="primary" class="browse-btn"
                        (click)="fileSelect.click()"> Browse
                    </button>
                    <p id="fileName">{{fileName || "No file uploaded yet."}}</p>
                    <div>
                        <button mat-raised-button color="primary" class="upload-btn"
                            (click)="onFileUpload()"> Upload
                        </button>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="upload-btn"
                    (click)="getFilmsWatchedData()"> Get Watched Data
                </button>
            </div>

            <div *ngIf="showChart">
                <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [type]="'bar'">
                </canvas>
            </div>
        </div>
    </div>

<input type="file" class="file-input" accept=".csv" (change)="onFileSelected($event)" #fileSelect>